<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <main>
        <h1 v-if="conectado">Estoy conectado</h1>
        <h2 v-if="edad < 18">No puedes entrar.</h2>
        <h2 v-else-if="edad > 200">Eres inmortal.</h2>
        <h2 v-else>Puedes entrar.</h2>

        <template v-if="conectado">
            <h3>Bienvenido Juan</h3>
            <ul>
                <li>
                    <a href="#">Mis datos</a>
                    <a href="#">Mensajes</a>
                    <a href="#">Salir</a>
                </li>
            </ul>
        </template>
        <h4 v-else>No estas conectado.</h4>

        <pre>{{ $data }}</pre>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>