<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Tareas</h1>
        <ul>
            <li v-for="tarea in tareas">
                {{ tarea }}
            </li>
        </ul>
        <input type="text" placeholder="Agregar tarea" v-model="nuevaTarea">
        <input type="button" value="Enviar tarea" v-on:click="agregarTarea()">
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>