<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Juegos</h1>
        <input type="search" v-model="busqueda">
        <ul>
            <li v-for="juego in buscarJuegos">
                {{ juego.titulo }}
            </li>
        </ul>
        <input type="range" min="0" max="10" v-model="minimo">
        <pre>{{ $data }}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>